
@{
    ViewBag.Title = "ProfileShow";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model List<TwitterProject.Model.Option.AppUser>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">Alexander Pierce</h3>
                    <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                </div>
                <div class="widget-user-image col-sm-4">

                    <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-4 border-left" style="text-align:left">
                                <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">Tweets</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">Following</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">Followers</span>
                                </div>
                                <!-- /.description-block -->
                            </div>

                        </div>
                        <!-- /.col -->
                        <div class="col-md-8 border-right">
                            @foreach (var item in Model)
                            {
                                if (item.UserName == User.Identity.Name)
                                {
                                    <div class="border-right">
                                        <div class="description-block border-right">
                                            <a href="/Member/Profile/Update/@item.ID" type="button" class="btn btn-default btn-flat">Profile Settings</a>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        
    </div>
</div>


